/sql/ships_mysql_script.sql
/sql/query
org/1.pdf
org/auto/
org/difwave.svg
org/pic1.jpg
org/pic1.png
org/presentation.bbl
org/presentation.pdf
org/presentation.tex
org/python-depends.png
org/python-depends.svg
org/modules.png
org/espresso.png
org/interface.png
org/schema.png
